body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background: url("/static/Logo PetSmile.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    position: relative;
}

.form-container {
    background-color: rgba(138, 138, 138, 0.7); 
    padding: 25px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(155, 155, 155, 1.5);
    max-width: 350px;
    width: 100%;
    z-index: 1;
    margin-top: -550px;
    justify-content: space-between;
    flex-direction: column;
    
}

.btn-primary {
    background-color: #FFA500;
    border: none;
    font-size: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

a.text-white:hover {
    color: #FFA500;
    text-decoration: underline;
}

.mb-3 {
    margin-bottom: 5px;
}

