<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/icon.png" type="image/x-icon">
    <title>Alterar Agendamento - PetSmile</title>
    <link rel="stylesheet" href="/static/agendamento.css">
</head>
<body>

    <!-- Cabeçalho -->
    <header>
        <img src="/static/LogoPrincipal.png" alt="Logo PetSmile">
    </header>

    <!-- Barra de navegação -->
    <nav>
        <a href="cliente">Home</a>
        <a href="gatos">Gatos</a>
        <a href="cachorro">Cachorros</a>
        <a href="agendamento">Banho e Tosa</a>
        <a href="#contato">Contato</a>
        <a href="#blog">Blog</a>

        {% if session.get('usuario_nome') %}
            <a href="{{ url_for('index') }}" class="logout-link">Sair</a>
        {% endif %}
    </nav>

    <!-- Linha abaixo do menu -->
    <div class="line"></div>

    <!-- Seção de alteração de agendamento -->
    <section id="alterar_agendamento">
        <div class="container_agendamento">
            <h2>Alteração de Agendamento</h2>

            {% if agendamento %}
                <h3>Agendamento Atual</h3>
                <p><strong>Pet: </strong>{{ agendamento['pet_nome'] }}</p>
                <p><strong>Data e Hora: </strong>{{ agendamento['data_hora_agendamento'].strftime('%d/%m/%Y %H:%M') }}</p>

                <!-- Formulário para alterar o agendamento -->
                <form action="{{ url_for('alterar_agendamento') }}" method="POST">
                    <label for="data">Escolha a nova data do agendamento:</label>
                    <input type="date" id="data" name="data" value="{{ agendamento['data_hora_agendamento'].strftime('%Y-%m-%d') }}" required>

                    <label for="hora">Escolha a nova hora do agendamento:</label>
                    <input type="time" id="hora" name="hora" value="{{ agendamento['data_hora_agendamento'].strftime('%H:%M') }}" required>

                    <label for="pet_nome">Nome do Pet:</label>
                    <input type="text" id="pet_nome" name="pet_nome" value="{{ agendamento['pet_nome'] }}" required>

                    <button type="submit">Alterar</button>
                </form>

            {% else %}
                <p>Você não tem nenhum agendamento para alterar.</p>
            {% endif %}

        </div>
    </section>

</body>
</html>
