<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/icon.png" type="image/x-icon">
    <title>Cadastro - PetSmile</title>

    <link rel="stylesheet" href="/static/style.css">
    
    
</head>
<body>
    <div class="form-container">
        <h2 class="text-center">Cadastro</h2>

        
        <form action="/cadastro" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Nome completo</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="contact" class="form-label">Contato</label>
                <input type="text" class="form-control" id="contact" name="contact" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirme a senha</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>


        <div class="text-center mt-3">
            <a href="{{ url_for('index') }}" class="text-white">Já tem uma conta? Faça login</a>
        </div>

    </div>
</body>
</html>
