<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/icon.png" type="image/x-icon">
    <title>Fidelidade - PetSmile</title>
    <link rel="stylesheet" href="/static/contato.css">
</head>
<body>

    <!-- Cabeçalho -->
    <header>
        <img src="/static/LogoPrincipal.png" alt="Logo PetSmile">
    </header>

    <!-- Barra de navegação -->
    <nav>
    <a href="{{ url_for('cliente') }}">Home</a>
    <a href="{{ url_for('gatos') }}">Gatos</a>
    <a href="{{ url_for('cachorro') }}">Cachorros</a>
    <a href="{{ url_for('agendamento') }}">Banho e Tosa</a>
    <a href="{{ url_for('contato') }}">Contato</a>
    <a href="{{ url_for('meus_pontos') }}">Fidelidade</a>

        {% if session.get('usuario_nome') %}
            <a href="{{ url_for('index') }}" class="logout-link">Sair</a>
        {% endif %}
    </nav>

    <!-- Linha abaixo do menu -->
    <div class="line"></div>

     <!-- Conteúdo principal -->
    <div class="container">
        <h2>Meus Pontos de Fidelidade</h2>
        <p>Olá, {{ session['usuario_nome'] }}!</p>
        <p>Você possui <strong>{{ pontos }}</strong> ponto(s) acumulado(s).</p>
        <p>Continue comprando ou agendando serviços para ganhar mais pontos!</p>
    </div>

    

</body>
</html>
